/* --------------------------------- */
/* GRID: CONTAINER
/* --------------------------------- */
/* set default styles for all containers */
.wb-container-xsmall, .wb-container-small, .wb-container, .wb-container-large {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* container width */
.wb-container-large, .wb-container, .wb-container-small, .wb-container-xsmall {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wb-container-large, .wb-container, .wb-container-small {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .wb-container-large, .wb-container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .wb-container-large {
    width: 1140px;
  }
}

/* --------------------------------- */
/* GRID: GUTTER
/* --------------------------------- */
/* DEFAULT GRID GUTTER ---------------- */
.wb-row {
  margin: -1rem -1rem;
}

.wb-row > [class*='wb-col-'] {
  padding: 1rem 1rem;
}

@media screen and (min-width: 480px) {
  .wb-row {
    margin: -1rem -1rem;
  }
  .wb-row > [class*='wb-col-'] {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .wb-row {
    margin: -1rem -1rem;
  }
  .wb-row > [class*='wb-col-'] {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 992px) {
  .wb-row {
    margin: -1.25rem -1.25rem;
  }
  .wb-row > [class*='wb-col-'] {
    padding: 1.25rem 1.25rem;
  }
}

/* MODIFIER: GRID GUTTER SIZE ---------------- */
.wb-row--gutter-none-xs {
  margin: 0 0;
}

.wb-row--gutter-none-xs > [class*='wb-col-'] {
  padding: 0 0;
}

.wb-row--gutter-small-xs {
  margin: -0.75rem -0.75rem;
}

.wb-row--gutter-small-xs > [class*='wb-col-'] {
  padding: 0.75rem 0.75rem;
}

.wb-row--gutter-smaller-xs {
  margin: -0.5rem -0.5rem;
}

.wb-row--gutter-smaller-xs > [class*='wb-col-'] {
  padding: 0.5rem 0.5rem;
}

.wb-row--gutter-smallest-xs {
  margin: -0.125rem -0.125rem;
}

.wb-row--gutter-smallest-xs > [class*='wb-col-'] {
  padding: 0.125rem 0.125rem;
}

.wb-row--gutter-normal-xs {
  margin: -1rem -1rem;
}

.wb-row--gutter-normal-xs > [class*='wb-col-'] {
  padding: 1rem 1rem;
}

.wb-row--gutter-large-xs {
  margin: -1.25rem -1.25rem;
}

.wb-row--gutter-large-xs > [class*='wb-col-'] {
  padding: 1.25rem 1.25rem;
}

.wb-row--gutter-larger-xs {
  margin: -1.5rem -1.5rem;
}

.wb-row--gutter-larger-xs > [class*='wb-col-'] {
  padding: 1.5rem 1.5rem;
}

.wb-row--gutter-largest-xs {
  margin: -2rem -2rem;
}

.wb-row--gutter-largest-xs > [class*='wb-col-'] {
  padding: 2rem 2rem;
}

@media screen and (min-width: 480px) {
  .wb-row--gutter-none-sm {
    margin: 0 0;
  }
  .wb-row--gutter-none-sm > [class*='wb-col-'] {
    padding: 0 0;
  }
  .wb-row--gutter-small-sm {
    margin: -0.75rem -0.75rem;
  }
  .wb-row--gutter-small-sm > [class*='wb-col-'] {
    padding: 0.75rem 0.75rem;
  }
  .wb-row--gutter-smaller-sm {
    margin: -0.5rem -0.5rem;
  }
  .wb-row--gutter-smaller-sm > [class*='wb-col-'] {
    padding: 0.5rem 0.5rem;
  }
  .wb-row--gutter-smallest-sm {
    margin: -0.125rem -0.125rem;
  }
  .wb-row--gutter-smallest-sm > [class*='wb-col-'] {
    padding: 0.125rem 0.125rem;
  }
  .wb-row--gutter-normal-sm {
    margin: -1rem -1rem;
  }
  .wb-row--gutter-normal-sm > [class*='wb-col-'] {
    padding: 1rem 1rem;
  }
  .wb-row--gutter-large-sm {
    margin: -1.25rem -1.25rem;
  }
  .wb-row--gutter-large-sm > [class*='wb-col-'] {
    padding: 1.25rem 1.25rem;
  }
  .wb-row--gutter-larger-sm {
    margin: -1.5rem -1.5rem;
  }
  .wb-row--gutter-larger-sm > [class*='wb-col-'] {
    padding: 1.5rem 1.5rem;
  }
  .wb-row--gutter-largest-sm {
    margin: -2rem -2rem;
  }
  .wb-row--gutter-largest-sm > [class*='wb-col-'] {
    padding: 2rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .wb-row--gutter-none {
    margin: 0 0;
  }
  .wb-row--gutter-none > [class*='wb-col-'] {
    padding: 0 0;
  }
  .wb-row--gutter-small {
    margin: -0.75rem -0.75rem;
  }
  .wb-row--gutter-small > [class*='wb-col-'] {
    padding: 0.75rem 0.75rem;
  }
  .wb-row--gutter-smaller {
    margin: -0.5rem -0.5rem;
  }
  .wb-row--gutter-smaller > [class*='wb-col-'] {
    padding: 0.5rem 0.5rem;
  }
  .wb-row--gutter-smallest {
    margin: -0.125rem -0.125rem;
  }
  .wb-row--gutter-smallest > [class*='wb-col-'] {
    padding: 0.125rem 0.125rem;
  }
  .wb-row--gutter-normal {
    margin: -1rem -1rem;
  }
  .wb-row--gutter-normal > [class*='wb-col-'] {
    padding: 1rem 1rem;
  }
  .wb-row--gutter-large {
    margin: -1.25rem -1.25rem;
  }
  .wb-row--gutter-large > [class*='wb-col-'] {
    padding: 1.25rem 1.25rem;
  }
  .wb-row--gutter-larger {
    margin: -1.5rem -1.5rem;
  }
  .wb-row--gutter-larger > [class*='wb-col-'] {
    padding: 1.5rem 1.5rem;
  }
  .wb-row--gutter-largest {
    margin: -2rem -2rem;
  }
  .wb-row--gutter-largest > [class*='wb-col-'] {
    padding: 2rem 2rem;
  }
}

@media screen and (min-width: 992px) {
  .wb-row--gutter-none-lg {
    margin: 0 0;
  }
  .wb-row--gutter-none-lg > [class*='wb-col-'] {
    padding: 0 0;
  }
  .wb-row--gutter-small-lg {
    margin: -0.75rem -0.75rem;
  }
  .wb-row--gutter-small-lg > [class*='wb-col-'] {
    padding: 0.75rem 0.75rem;
  }
  .wb-row--gutter-smaller-lg {
    margin: -0.5rem -0.5rem;
  }
  .wb-row--gutter-smaller-lg > [class*='wb-col-'] {
    padding: 0.5rem 0.5rem;
  }
  .wb-row--gutter-smallest-lg {
    margin: -0.125rem -0.125rem;
  }
  .wb-row--gutter-smallest-lg > [class*='wb-col-'] {
    padding: 0.125rem 0.125rem;
  }
  .wb-row--gutter-normal-lg {
    margin: -1rem -1rem;
  }
  .wb-row--gutter-normal-lg > [class*='wb-col-'] {
    padding: 1rem 1rem;
  }
  .wb-row--gutter-large-lg {
    margin: -1.25rem -1.25rem;
  }
  .wb-row--gutter-large-lg > [class*='wb-col-'] {
    padding: 1.25rem 1.25rem;
  }
  .wb-row--gutter-larger-lg {
    margin: -1.5rem -1.5rem;
  }
  .wb-row--gutter-larger-lg > [class*='wb-col-'] {
    padding: 1.5rem 1.5rem;
  }
  .wb-row--gutter-largest-lg {
    margin: -2rem -2rem;
  }
  .wb-row--gutter-largest-lg > [class*='wb-col-'] {
    padding: 2rem 2rem;
  }
}

/* --------------------------------- */
/* GRID: ROW
/* --------------------------------- */
.wb-row {
  display: block;
  padding: 0;
  list-style: none;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wb-row:before, .wb-row:after {
  content: "";
  display: block;
  clear: both;
}
