/* ======================================================================= */
/* GRID
/* ======================================================================= */
/* --------------------------------- */
/* GRID: CONTAINER
/* --------------------------------- */
/* set default styles for all containers */
.wb-container-xsmall, .wb-container-small, .wb-container, .wb-container-large {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* container width */
.wb-container-large, .wb-container, .wb-container-small, .wb-container-xsmall {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wb-container-large, .wb-container, .wb-container-small {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .wb-container-large, .wb-container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .wb-container-large {
    width: 1140px;
  }
}

/* --------------------------------- */
/* GRID: SPANS
/* --------------------------------- */
[class*='wb-span-'] {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wb-span-1-1-xs {
  width: 100%;
}

.wb-pull-1-1-xs {
  left: -100%;
}

.wb-push-1-1-xs {
  left: 100%;
}

.wb-offset-1-1-xs {
  margin-left: 100%;
}

.wb-span-1-2-xs {
  width: 50%;
}

.wb-pull-1-2-xs {
  left: -50%;
}

.wb-push-1-2-xs {
  left: 50%;
}

.wb-offset-1-2-xs {
  margin-left: 50%;
}

.wb-span-1-3-xs {
  width: 33.3333333333%;
}

.wb-pull-1-3-xs {
  left: -33.3333333333%;
}

.wb-push-1-3-xs {
  left: 33.3333333333%;
}

.wb-offset-1-3-xs {
  margin-left: 33.3333333333%;
}

.wb-span-2-3-xs {
  width: 66.6666666667%;
}

.wb-pull-2-3-xs {
  left: -66.6666666667%;
}

.wb-push-2-3-xs {
  left: 66.6666666667%;
}

.wb-offset-2-3-xs {
  margin-left: 66.6666666667%;
}

.wb-span-1-4-xs {
  width: 25%;
}

.wb-pull-1-4-xs {
  left: -25%;
}

.wb-push-1-4-xs {
  left: 25%;
}

.wb-offset-1-4-xs {
  margin-left: 25%;
}

.wb-span-3-4-xs {
  width: 75%;
}

.wb-pull-3-4-xs {
  left: -75%;
}

.wb-push-3-4-xs {
  left: 75%;
}

.wb-offset-3-4-xs {
  margin-left: 75%;
}

.wb-span-1-5-xs {
  width: 20%;
}

.wb-pull-1-5-xs {
  left: -20%;
}

.wb-push-1-5-xs {
  left: 20%;
}

.wb-offset-1-5-xs {
  margin-left: 20%;
}

.wb-span-2-5-xs {
  width: 40%;
}

.wb-pull-2-5-xs {
  left: -40%;
}

.wb-push-2-5-xs {
  left: 40%;
}

.wb-offset-2-5-xs {
  margin-left: 40%;
}

.wb-span-3-5-xs {
  width: 60%;
}

.wb-pull-3-5-xs {
  left: -60%;
}

.wb-push-3-5-xs {
  left: 60%;
}

.wb-offset-3-5-xs {
  margin-left: 60%;
}

.wb-span-4-5-xs {
  width: 80%;
}

.wb-pull-4-5-xs {
  left: -80%;
}

.wb-push-4-5-xs {
  left: 80%;
}

.wb-offset-4-5-xs {
  margin-left: 80%;
}

.wb-span-1-6-xs {
  width: 16.6666666667%;
}

.wb-pull-1-6-xs {
  left: -16.6666666667%;
}

.wb-push-1-6-xs {
  left: 16.6666666667%;
}

.wb-offset-1-6-xs {
  margin-left: 16.6666666667%;
}

.wb-span-5-6-xs {
  width: 83.3333333333%;
}

.wb-pull-5-6-xs {
  left: -83.3333333333%;
}

.wb-push-5-6-xs {
  left: 83.3333333333%;
}

.wb-offset-5-6-xs {
  margin-left: 83.3333333333%;
}

[class*='wb-grid'] > .wb-span-1-1-xs, [class*='wb-grid'] > .wb-span-1-2-xs, [class*='wb-grid'] > .wb-span-1-3-xs, [class*='wb-grid'] > .wb-span-2-3-xs, [class*='wb-grid'] > .wb-span-1-4-xs, [class*='wb-grid'] > .wb-span-3-4-xs, [class*='wb-grid'] > .wb-span-1-5-xs, [class*='wb-grid'] > .wb-span-2-5-xs, [class*='wb-grid'] > .wb-span-3-5-xs, [class*='wb-grid'] > .wb-span-4-5-xs, [class*='wb-grid'] > .wb-span-1-6-xs, [class*='wb-grid'] > .wb-span-5-6-xs,
[class*='wb-grid'] > .wb-span-auto-xs {
  float: left;
  clear: none;
}

[class*='wb-grid'] > .wb-span-first-xs {
  clear: left;
}

[class*='wb-grid'] > .wb-span-last-xs {
  float: right;
}

[class*='wb-grid'] > .wb-span-centered-xs {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .wb-span-1-1-sm {
    width: 100%;
  }
  .wb-pull-1-1-sm {
    left: -100%;
  }
  .wb-push-1-1-sm {
    left: 100%;
  }
  .wb-offset-1-1-sm {
    margin-left: 100%;
  }
  .wb-span-1-2-sm {
    width: 50%;
  }
  .wb-pull-1-2-sm {
    left: -50%;
  }
  .wb-push-1-2-sm {
    left: 50%;
  }
  .wb-offset-1-2-sm {
    margin-left: 50%;
  }
  .wb-span-1-3-sm {
    width: 33.3333333333%;
  }
  .wb-pull-1-3-sm {
    left: -33.3333333333%;
  }
  .wb-push-1-3-sm {
    left: 33.3333333333%;
  }
  .wb-offset-1-3-sm {
    margin-left: 33.3333333333%;
  }
  .wb-span-2-3-sm {
    width: 66.6666666667%;
  }
  .wb-pull-2-3-sm {
    left: -66.6666666667%;
  }
  .wb-push-2-3-sm {
    left: 66.6666666667%;
  }
  .wb-offset-2-3-sm {
    margin-left: 66.6666666667%;
  }
  .wb-span-1-4-sm {
    width: 25%;
  }
  .wb-pull-1-4-sm {
    left: -25%;
  }
  .wb-push-1-4-sm {
    left: 25%;
  }
  .wb-offset-1-4-sm {
    margin-left: 25%;
  }
  .wb-span-3-4-sm {
    width: 75%;
  }
  .wb-pull-3-4-sm {
    left: -75%;
  }
  .wb-push-3-4-sm {
    left: 75%;
  }
  .wb-offset-3-4-sm {
    margin-left: 75%;
  }
  .wb-span-1-5-sm {
    width: 20%;
  }
  .wb-pull-1-5-sm {
    left: -20%;
  }
  .wb-push-1-5-sm {
    left: 20%;
  }
  .wb-offset-1-5-sm {
    margin-left: 20%;
  }
  .wb-span-2-5-sm {
    width: 40%;
  }
  .wb-pull-2-5-sm {
    left: -40%;
  }
  .wb-push-2-5-sm {
    left: 40%;
  }
  .wb-offset-2-5-sm {
    margin-left: 40%;
  }
  .wb-span-3-5-sm {
    width: 60%;
  }
  .wb-pull-3-5-sm {
    left: -60%;
  }
  .wb-push-3-5-sm {
    left: 60%;
  }
  .wb-offset-3-5-sm {
    margin-left: 60%;
  }
  .wb-span-4-5-sm {
    width: 80%;
  }
  .wb-pull-4-5-sm {
    left: -80%;
  }
  .wb-push-4-5-sm {
    left: 80%;
  }
  .wb-offset-4-5-sm {
    margin-left: 80%;
  }
  .wb-span-1-6-sm {
    width: 16.6666666667%;
  }
  .wb-pull-1-6-sm {
    left: -16.6666666667%;
  }
  .wb-push-1-6-sm {
    left: 16.6666666667%;
  }
  .wb-offset-1-6-sm {
    margin-left: 16.6666666667%;
  }
  .wb-span-5-6-sm {
    width: 83.3333333333%;
  }
  .wb-pull-5-6-sm {
    left: -83.3333333333%;
  }
  .wb-push-5-6-sm {
    left: 83.3333333333%;
  }
  .wb-offset-5-6-sm {
    margin-left: 83.3333333333%;
  }
  [class*='wb-grid'] > .wb-span-1-1-sm, [class*='wb-grid'] > .wb-span-1-2-sm, [class*='wb-grid'] > .wb-span-1-3-sm, [class*='wb-grid'] > .wb-span-2-3-sm, [class*='wb-grid'] > .wb-span-1-4-sm, [class*='wb-grid'] > .wb-span-3-4-sm, [class*='wb-grid'] > .wb-span-1-5-sm, [class*='wb-grid'] > .wb-span-2-5-sm, [class*='wb-grid'] > .wb-span-3-5-sm, [class*='wb-grid'] > .wb-span-4-5-sm, [class*='wb-grid'] > .wb-span-1-6-sm, [class*='wb-grid'] > .wb-span-5-6-sm,
  [class*='wb-grid'] > .wb-span-auto-sm {
    float: left;
    clear: none;
  }
  [class*='wb-grid'] > .wb-span-first-sm {
    clear: left;
  }
  [class*='wb-grid'] > .wb-span-last-sm {
    float: right;
  }
  [class*='wb-grid'] > .wb-span-centered-sm {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .wb-span-1-1 {
    width: 100%;
  }
  .wb-pull-1-1 {
    left: -100%;
  }
  .wb-push-1-1 {
    left: 100%;
  }
  .wb-offset-1-1 {
    margin-left: 100%;
  }
  .wb-span-1-2 {
    width: 50%;
  }
  .wb-pull-1-2 {
    left: -50%;
  }
  .wb-push-1-2 {
    left: 50%;
  }
  .wb-offset-1-2 {
    margin-left: 50%;
  }
  .wb-span-1-3 {
    width: 33.3333333333%;
  }
  .wb-pull-1-3 {
    left: -33.3333333333%;
  }
  .wb-push-1-3 {
    left: 33.3333333333%;
  }
  .wb-offset-1-3 {
    margin-left: 33.3333333333%;
  }
  .wb-span-2-3 {
    width: 66.6666666667%;
  }
  .wb-pull-2-3 {
    left: -66.6666666667%;
  }
  .wb-push-2-3 {
    left: 66.6666666667%;
  }
  .wb-offset-2-3 {
    margin-left: 66.6666666667%;
  }
  .wb-span-1-4 {
    width: 25%;
  }
  .wb-pull-1-4 {
    left: -25%;
  }
  .wb-push-1-4 {
    left: 25%;
  }
  .wb-offset-1-4 {
    margin-left: 25%;
  }
  .wb-span-3-4 {
    width: 75%;
  }
  .wb-pull-3-4 {
    left: -75%;
  }
  .wb-push-3-4 {
    left: 75%;
  }
  .wb-offset-3-4 {
    margin-left: 75%;
  }
  .wb-span-1-5 {
    width: 20%;
  }
  .wb-pull-1-5 {
    left: -20%;
  }
  .wb-push-1-5 {
    left: 20%;
  }
  .wb-offset-1-5 {
    margin-left: 20%;
  }
  .wb-span-2-5 {
    width: 40%;
  }
  .wb-pull-2-5 {
    left: -40%;
  }
  .wb-push-2-5 {
    left: 40%;
  }
  .wb-offset-2-5 {
    margin-left: 40%;
  }
  .wb-span-3-5 {
    width: 60%;
  }
  .wb-pull-3-5 {
    left: -60%;
  }
  .wb-push-3-5 {
    left: 60%;
  }
  .wb-offset-3-5 {
    margin-left: 60%;
  }
  .wb-span-4-5 {
    width: 80%;
  }
  .wb-pull-4-5 {
    left: -80%;
  }
  .wb-push-4-5 {
    left: 80%;
  }
  .wb-offset-4-5 {
    margin-left: 80%;
  }
  .wb-span-1-6 {
    width: 16.6666666667%;
  }
  .wb-pull-1-6 {
    left: -16.6666666667%;
  }
  .wb-push-1-6 {
    left: 16.6666666667%;
  }
  .wb-offset-1-6 {
    margin-left: 16.6666666667%;
  }
  .wb-span-5-6 {
    width: 83.3333333333%;
  }
  .wb-pull-5-6 {
    left: -83.3333333333%;
  }
  .wb-push-5-6 {
    left: 83.3333333333%;
  }
  .wb-offset-5-6 {
    margin-left: 83.3333333333%;
  }
  [class*='wb-grid'] > .wb-span-1-1, [class*='wb-grid'] > .wb-span-1-2, [class*='wb-grid'] > .wb-span-1-3, [class*='wb-grid'] > .wb-span-2-3, [class*='wb-grid'] > .wb-span-1-4, [class*='wb-grid'] > .wb-span-3-4, [class*='wb-grid'] > .wb-span-1-5, [class*='wb-grid'] > .wb-span-2-5, [class*='wb-grid'] > .wb-span-3-5, [class*='wb-grid'] > .wb-span-4-5, [class*='wb-grid'] > .wb-span-1-6, [class*='wb-grid'] > .wb-span-5-6,
  [class*='wb-grid'] > .wb-span-auto {
    float: left;
    clear: none;
  }
  [class*='wb-grid'] > .wb-span-first {
    clear: left;
  }
  [class*='wb-grid'] > .wb-span-last {
    float: right;
  }
  [class*='wb-grid'] > .wb-span-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 992px) {
  .wb-span-1-1-lg {
    width: 100%;
  }
  .wb-pull-1-1-lg {
    left: -100%;
  }
  .wb-push-1-1-lg {
    left: 100%;
  }
  .wb-offset-1-1-lg {
    margin-left: 100%;
  }
  .wb-span-1-2-lg {
    width: 50%;
  }
  .wb-pull-1-2-lg {
    left: -50%;
  }
  .wb-push-1-2-lg {
    left: 50%;
  }
  .wb-offset-1-2-lg {
    margin-left: 50%;
  }
  .wb-span-1-3-lg {
    width: 33.3333333333%;
  }
  .wb-pull-1-3-lg {
    left: -33.3333333333%;
  }
  .wb-push-1-3-lg {
    left: 33.3333333333%;
  }
  .wb-offset-1-3-lg {
    margin-left: 33.3333333333%;
  }
  .wb-span-2-3-lg {
    width: 66.6666666667%;
  }
  .wb-pull-2-3-lg {
    left: -66.6666666667%;
  }
  .wb-push-2-3-lg {
    left: 66.6666666667%;
  }
  .wb-offset-2-3-lg {
    margin-left: 66.6666666667%;
  }
  .wb-span-1-4-lg {
    width: 25%;
  }
  .wb-pull-1-4-lg {
    left: -25%;
  }
  .wb-push-1-4-lg {
    left: 25%;
  }
  .wb-offset-1-4-lg {
    margin-left: 25%;
  }
  .wb-span-3-4-lg {
    width: 75%;
  }
  .wb-pull-3-4-lg {
    left: -75%;
  }
  .wb-push-3-4-lg {
    left: 75%;
  }
  .wb-offset-3-4-lg {
    margin-left: 75%;
  }
  .wb-span-1-5-lg {
    width: 20%;
  }
  .wb-pull-1-5-lg {
    left: -20%;
  }
  .wb-push-1-5-lg {
    left: 20%;
  }
  .wb-offset-1-5-lg {
    margin-left: 20%;
  }
  .wb-span-2-5-lg {
    width: 40%;
  }
  .wb-pull-2-5-lg {
    left: -40%;
  }
  .wb-push-2-5-lg {
    left: 40%;
  }
  .wb-offset-2-5-lg {
    margin-left: 40%;
  }
  .wb-span-3-5-lg {
    width: 60%;
  }
  .wb-pull-3-5-lg {
    left: -60%;
  }
  .wb-push-3-5-lg {
    left: 60%;
  }
  .wb-offset-3-5-lg {
    margin-left: 60%;
  }
  .wb-span-4-5-lg {
    width: 80%;
  }
  .wb-pull-4-5-lg {
    left: -80%;
  }
  .wb-push-4-5-lg {
    left: 80%;
  }
  .wb-offset-4-5-lg {
    margin-left: 80%;
  }
  .wb-span-1-6-lg {
    width: 16.6666666667%;
  }
  .wb-pull-1-6-lg {
    left: -16.6666666667%;
  }
  .wb-push-1-6-lg {
    left: 16.6666666667%;
  }
  .wb-offset-1-6-lg {
    margin-left: 16.6666666667%;
  }
  .wb-span-5-6-lg {
    width: 83.3333333333%;
  }
  .wb-pull-5-6-lg {
    left: -83.3333333333%;
  }
  .wb-push-5-6-lg {
    left: 83.3333333333%;
  }
  .wb-offset-5-6-lg {
    margin-left: 83.3333333333%;
  }
  [class*='wb-grid'] > .wb-span-1-1-lg, [class*='wb-grid'] > .wb-span-1-2-lg, [class*='wb-grid'] > .wb-span-1-3-lg, [class*='wb-grid'] > .wb-span-2-3-lg, [class*='wb-grid'] > .wb-span-1-4-lg, [class*='wb-grid'] > .wb-span-3-4-lg, [class*='wb-grid'] > .wb-span-1-5-lg, [class*='wb-grid'] > .wb-span-2-5-lg, [class*='wb-grid'] > .wb-span-3-5-lg, [class*='wb-grid'] > .wb-span-4-5-lg, [class*='wb-grid'] > .wb-span-1-6-lg, [class*='wb-grid'] > .wb-span-5-6-lg,
  [class*='wb-grid'] > .wb-span-auto-lg {
    float: left;
    clear: none;
  }
  [class*='wb-grid'] > .wb-span-first-lg {
    clear: left;
  }
  [class*='wb-grid'] > .wb-span-last-lg {
    float: right;
  }
  [class*='wb-grid'] > .wb-span-centered-lg {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

/* --------------------------------- */
/* GRID: PANEL
/* --------------------------------- */
.wb-grid-panel {
  padding: 30px;
  text-align: center;
  border: 1px solid #e6e6e6;
  background: #f0f0f0;
  border-radius: 3px;
}
