// =======================================================================
// BREAKPOINTS
// =======================================================================

$wb-breakpoints: wb-add-breakpoint('xsmall', (
  'value'                     : 480px,
  'container-width'           : 100%,
  'container-suffix'          : '-xsmall',
  'horizontal-gutter'         : $wb-grid-gutter-smaller,
  'vertical-gutter'           : $wb-grid-gutter-smaller,
  'suffix'                    : '-xs',
  'suffix-alias'              : '-xs'
));

$wb-breakpoints: wb-add-breakpoint('small', (
  'value'                     : 768px,
  'container-width'           : 750px,
  'container-suffix'          : '-small',
  'horizontal-gutter'         : $wb-grid-gutter-small,
  'vertical-gutter'           : $wb-grid-gutter-small,
  'suffix'                    : '-sm',
  'suffix-alias'              : '-sm'
));

$wb-breakpoints: wb-add-breakpoint('medium', (
  'value'                     : 992px,
  'container-width'           : 960px,
  'container-suffix'          : '',
  'horizontal-gutter'         : $wb-grid-gutter-normal,
  'vertical-gutter'           : $wb-grid-gutter-normal,
  'suffix'                    : '-md',
  'suffix-alias'              : '-md'
));

$wb-breakpoints: wb-add-breakpoint('large', (
  'value'                     : 1200px,
  'container-width'           : 1140px,
  'container-suffix'          : '-large',
  'horizontal-gutter'         : $wb-grid-gutter-normal,
  'vertical-gutter'           : $wb-grid-gutter-normal,
  'suffix'                    : '-lg',
  'suffix-alias'              : '-lg'
));