// =======================================================================
// CONFIG
// =======================================================================

$wb-grid-columns-count              : 6 !default;

$wb-grid-gutter-normal              : $wb-margin-base !default;

$wb-grid-gutter-small               : $wb-margin-small !default;
$wb-grid-gutter-smaller             : $wb-margin-smaller !default;
$wb-grid-gutter-smallest            : $wb-margin-smallest !default;

$wb-grid-gutter-large               : $wb-margin-large !default;
$wb-grid-gutter-larger              : $wb-margin-larger !default;
$wb-grid-gutter-largest             : $wb-margin-largest !default;