@import 'import';

/* --------------------------------- */
/* GRID: PANEL
/* --------------------------------- */

.#{$wb-prefix}grid-panel {
  padding: 20px;
  text-align: center;
  color: #000;
  border: 1px solid #e6e6e6;
  background: #f0f0f0;
  border-radius: 3px;
  
  .#{$wb-prefix}grid-panel {
    background: #f9f9f9;
  }
}