@import 'import';

/* --------------------------------- */
/* GRID: PULL
/* --------------------------------- */

  @mixin wb-pull-at-breakpoint($breakpoint-suffix) {
    $processed-pull: ();
    
    @for $b from 1 through $wb-grid-columns-count {
      @for $a from 1 through $b {
        @if index($processed-pull, #{$a/$b}) == null {
          $processed-pull: append($processed-pull, #{$a/$b});
          .#{$wb-prefix}col-pull#{$breakpoint-suffix}-#{$a}-#{$b} { left: (-100% * $a / $b); }
        }
      }
    }
  }
  
  // create .pull classes for each breakpoint
  $wb-processed-breakpoint-name: null;
  
  @each $wb-breakpoint-name, $wb-breakpoint in $wb-breakpoints {
    @if $wb-processed-breakpoint-name != null {
      @include wb-media('>#{$wb-processed-breakpoint-name}') {
        @include wb-pull-at-breakpoint(map-get($wb-breakpoint, 'suffix'));
      }
    }
    @else {
      @include wb-pull-at-breakpoint(map-get($wb-breakpoint, 'suffix'));
    }
    
    $wb-processed-breakpoint-name: $wb-breakpoint-name;
  }