@import 'import';

/* --------------------------------- */
/* GRID: ROW AUTO
/* --------------------------------- */
  
  @mixin wb-row-auto-at-breakpoint($breakpoint-suffix) {
    $row-auto-items-selector: ();
    
    @for $i from 1 through $wb-grid-columns-count {
      .#{$wb-prefix}row-auto#{$breakpoint-suffix}-#{$i} {
        > * {
          width: (100% / $i);
        }
      }
      
      $row-auto-items-selector: append($row-auto-items-selector, unquote('.#{$wb-prefix}row-auto#{$breakpoint-suffix}-#{$i} > *'), comma);
    }
    
    #{$row-auto-items-selector} {
      position: relative;
      min-height: 1px;
      float: left;
      @include box-sizing(border-box);
    }
  }

  // apply .row-auto classes for each breakpoint
  $wb-previous-breakpoint-name: null;

  @each $wb-breakpoint-name, $wb-breakpoint in $wb-breakpoints {
    @if $wb-previous-breakpoint-name != null {
      @include wb-media('>#{$wb-previous-breakpoint-name}') {
        @include wb-row-auto-at-breakpoint(map-get($wb-breakpoint, 'suffix'));
      }
    }
    @else {
      @include wb-row-auto-at-breakpoint(map-get($wb-breakpoint, 'suffix'));
    }
    
    $wb-previous-breakpoint-name: $wb-breakpoint-name;
  }