/* ======================================================================= */
/* GRID
/* ======================================================================= */
/* --------------------------------- */
/* GRID: CONTAINER
/* --------------------------------- */
/* set default styles for all containers */
.wb-container-xsmall, .wb-container-small, .wb-container, .wb-container-large,
.wb-container-fluid {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* container width */
.wb-container-large, .wb-container, .wb-container-small, .wb-container-xsmall {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wb-container-large, .wb-container, .wb-container-small {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .wb-container-large, .wb-container {
    width: 960px;
  }
}

@media screen and (min-width: 992px) {
  .wb-container-large {
    width: 1140px;
  }
}

/* --------------------------------- */
/* GRID: ROW
/* --------------------------------- */
.wb-row {
  display: block;
  padding: 0;
  list-style: none;
  clear: both;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wb-row:before, .wb-row:after {
  content: '';
  display: block;
  clear: both;
}

/* --------------------------------- */
/* GRID: ROW-AB
/* --------------------------------- */
[class*='wb-row-ab'] > .wb-col-a,
[class*='wb-row-ab'] > .wb-col-b {
  text-align: center;
}

.wb-row-ab-xs > .wb-col-a {
  text-align: left;
}

.wb-row-ab-xs > .wb-col-b {
  float: right;
  text-align: right;
}

@media screen and (min-width: 480px) {
  .wb-row-ab-sm > .wb-col-a {
    text-align: left;
  }
  .wb-row-ab-sm > .wb-col-b {
    float: right;
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .wb-row-ab-md > .wb-col-a {
    text-align: left;
  }
  .wb-row-ab-md > .wb-col-b {
    float: right;
    text-align: right;
  }
}

@media screen and (min-width: 992px) {
  .wb-row-ab-lg > .wb-col-a {
    text-align: left;
  }
  .wb-row-ab-lg > .wb-col-b {
    float: right;
    text-align: right;
  }
}

/* --------------------------------- */
/* GRID: ROW AUTO
/* --------------------------------- */
.wb-row-auto-xs-1 > * {
  width: 100%;
}

.wb-row-auto-xs-2 > * {
  width: 50%;
}

.wb-row-auto-xs-3 > * {
  width: 33.3333333333%;
}

.wb-row-auto-xs-4 > * {
  width: 25%;
}

.wb-row-auto-xs-5 > * {
  width: 20%;
}

.wb-row-auto-xs-6 > * {
  width: 16.6666666667%;
}

.wb-row-auto-xs-1 > *, .wb-row-auto-xs-2 > *, .wb-row-auto-xs-3 > *, .wb-row-auto-xs-4 > *, .wb-row-auto-xs-5 > *, .wb-row-auto-xs-6 > * {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .wb-row-auto-sm-1 > * {
    width: 100%;
  }
  .wb-row-auto-sm-2 > * {
    width: 50%;
  }
  .wb-row-auto-sm-3 > * {
    width: 33.3333333333%;
  }
  .wb-row-auto-sm-4 > * {
    width: 25%;
  }
  .wb-row-auto-sm-5 > * {
    width: 20%;
  }
  .wb-row-auto-sm-6 > * {
    width: 16.6666666667%;
  }
  .wb-row-auto-sm-1 > *, .wb-row-auto-sm-2 > *, .wb-row-auto-sm-3 > *, .wb-row-auto-sm-4 > *, .wb-row-auto-sm-5 > *, .wb-row-auto-sm-6 > * {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) {
  .wb-row-auto-md-1 > * {
    width: 100%;
  }
  .wb-row-auto-md-2 > * {
    width: 50%;
  }
  .wb-row-auto-md-3 > * {
    width: 33.3333333333%;
  }
  .wb-row-auto-md-4 > * {
    width: 25%;
  }
  .wb-row-auto-md-5 > * {
    width: 20%;
  }
  .wb-row-auto-md-6 > * {
    width: 16.6666666667%;
  }
  .wb-row-auto-md-1 > *, .wb-row-auto-md-2 > *, .wb-row-auto-md-3 > *, .wb-row-auto-md-4 > *, .wb-row-auto-md-5 > *, .wb-row-auto-md-6 > * {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 992px) {
  .wb-row-auto-lg-1 > * {
    width: 100%;
  }
  .wb-row-auto-lg-2 > * {
    width: 50%;
  }
  .wb-row-auto-lg-3 > * {
    width: 33.3333333333%;
  }
  .wb-row-auto-lg-4 > * {
    width: 25%;
  }
  .wb-row-auto-lg-5 > * {
    width: 20%;
  }
  .wb-row-auto-lg-6 > * {
    width: 16.6666666667%;
  }
  .wb-row-auto-lg-1 > *, .wb-row-auto-lg-2 > *, .wb-row-auto-lg-3 > *, .wb-row-auto-lg-4 > *, .wb-row-auto-lg-5 > *, .wb-row-auto-lg-6 > * {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* --------------------------------- */
/* GRID: COLUMNS
/* --------------------------------- */
[class*='wb-col-'] {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wb-col-xs-1-1 {
  width: 100%;
}

.wb-col-xs-1-2 {
  width: 50%;
}

.wb-col-xs-1-3 {
  width: 33.3333333333%;
}

.wb-col-xs-2-3 {
  width: 66.6666666667%;
}

.wb-col-xs-1-4 {
  width: 25%;
}

.wb-col-xs-3-4 {
  width: 75%;
}

.wb-col-xs-1-5 {
  width: 20%;
}

.wb-col-xs-2-5 {
  width: 40%;
}

.wb-col-xs-3-5 {
  width: 60%;
}

.wb-col-xs-4-5 {
  width: 80%;
}

.wb-col-xs-1-6 {
  width: 16.6666666667%;
}

.wb-col-xs-5-6 {
  width: 83.3333333333%;
}

[class*='wb-col-xs-'] {
  float: left;
  clear: none;
}

.wb-col-first-xs {
  clear: left;
}

.wb-col-last-xs {
  float: right;
}

.wb-col-centered-xs {
  clear: both;
  float: none;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .wb-col-sm-1-1 {
    width: 100%;
  }
  .wb-col-sm-1-2 {
    width: 50%;
  }
  .wb-col-sm-1-3 {
    width: 33.3333333333%;
  }
  .wb-col-sm-2-3 {
    width: 66.6666666667%;
  }
  .wb-col-sm-1-4 {
    width: 25%;
  }
  .wb-col-sm-3-4 {
    width: 75%;
  }
  .wb-col-sm-1-5 {
    width: 20%;
  }
  .wb-col-sm-2-5 {
    width: 40%;
  }
  .wb-col-sm-3-5 {
    width: 60%;
  }
  .wb-col-sm-4-5 {
    width: 80%;
  }
  .wb-col-sm-1-6 {
    width: 16.6666666667%;
  }
  .wb-col-sm-5-6 {
    width: 83.3333333333%;
  }
  [class*='wb-col-sm-'] {
    float: left;
    clear: none;
  }
  .wb-col-first-sm {
    clear: left;
  }
  .wb-col-last-sm {
    float: right;
  }
  .wb-col-centered-sm {
    clear: both;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .wb-col-md-1-1 {
    width: 100%;
  }
  .wb-col-md-1-2 {
    width: 50%;
  }
  .wb-col-md-1-3 {
    width: 33.3333333333%;
  }
  .wb-col-md-2-3 {
    width: 66.6666666667%;
  }
  .wb-col-md-1-4 {
    width: 25%;
  }
  .wb-col-md-3-4 {
    width: 75%;
  }
  .wb-col-md-1-5 {
    width: 20%;
  }
  .wb-col-md-2-5 {
    width: 40%;
  }
  .wb-col-md-3-5 {
    width: 60%;
  }
  .wb-col-md-4-5 {
    width: 80%;
  }
  .wb-col-md-1-6 {
    width: 16.6666666667%;
  }
  .wb-col-md-5-6 {
    width: 83.3333333333%;
  }
  [class*='wb-col-md-'] {
    float: left;
    clear: none;
  }
  .wb-col-first-md {
    clear: left;
  }
  .wb-col-last-md {
    float: right;
  }
  .wb-col-centered-md {
    clear: both;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 992px) {
  .wb-col-lg-1-1 {
    width: 100%;
  }
  .wb-col-lg-1-2 {
    width: 50%;
  }
  .wb-col-lg-1-3 {
    width: 33.3333333333%;
  }
  .wb-col-lg-2-3 {
    width: 66.6666666667%;
  }
  .wb-col-lg-1-4 {
    width: 25%;
  }
  .wb-col-lg-3-4 {
    width: 75%;
  }
  .wb-col-lg-1-5 {
    width: 20%;
  }
  .wb-col-lg-2-5 {
    width: 40%;
  }
  .wb-col-lg-3-5 {
    width: 60%;
  }
  .wb-col-lg-4-5 {
    width: 80%;
  }
  .wb-col-lg-1-6 {
    width: 16.6666666667%;
  }
  .wb-col-lg-5-6 {
    width: 83.3333333333%;
  }
  [class*='wb-col-lg-'] {
    float: left;
    clear: none;
  }
  .wb-col-first-lg {
    clear: left;
  }
  .wb-col-last-lg {
    float: right;
  }
  .wb-col-centered-lg {
    clear: both;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

/* --------------------------------- */
/* GRID: PULL
/* --------------------------------- */
.wb-col-pull-xs-1-1 {
  left: -100%;
}

.wb-col-pull-xs-1-2 {
  left: -50%;
}

.wb-col-pull-xs-1-3 {
  left: -33.3333333333%;
}

.wb-col-pull-xs-2-3 {
  left: -66.6666666667%;
}

.wb-col-pull-xs-1-4 {
  left: -25%;
}

.wb-col-pull-xs-3-4 {
  left: -75%;
}

.wb-col-pull-xs-1-5 {
  left: -20%;
}

.wb-col-pull-xs-2-5 {
  left: -40%;
}

.wb-col-pull-xs-3-5 {
  left: -60%;
}

.wb-col-pull-xs-4-5 {
  left: -80%;
}

.wb-col-pull-xs-1-6 {
  left: -16.6666666667%;
}

.wb-col-pull-xs-5-6 {
  left: -83.3333333333%;
}

@media screen and (min-width: 480px) {
  .wb-col-pull-sm-1-1 {
    left: -100%;
  }
  .wb-col-pull-sm-1-2 {
    left: -50%;
  }
  .wb-col-pull-sm-1-3 {
    left: -33.3333333333%;
  }
  .wb-col-pull-sm-2-3 {
    left: -66.6666666667%;
  }
  .wb-col-pull-sm-1-4 {
    left: -25%;
  }
  .wb-col-pull-sm-3-4 {
    left: -75%;
  }
  .wb-col-pull-sm-1-5 {
    left: -20%;
  }
  .wb-col-pull-sm-2-5 {
    left: -40%;
  }
  .wb-col-pull-sm-3-5 {
    left: -60%;
  }
  .wb-col-pull-sm-4-5 {
    left: -80%;
  }
  .wb-col-pull-sm-1-6 {
    left: -16.6666666667%;
  }
  .wb-col-pull-sm-5-6 {
    left: -83.3333333333%;
  }
}

@media screen and (min-width: 768px) {
  .wb-col-pull-md-1-1 {
    left: -100%;
  }
  .wb-col-pull-md-1-2 {
    left: -50%;
  }
  .wb-col-pull-md-1-3 {
    left: -33.3333333333%;
  }
  .wb-col-pull-md-2-3 {
    left: -66.6666666667%;
  }
  .wb-col-pull-md-1-4 {
    left: -25%;
  }
  .wb-col-pull-md-3-4 {
    left: -75%;
  }
  .wb-col-pull-md-1-5 {
    left: -20%;
  }
  .wb-col-pull-md-2-5 {
    left: -40%;
  }
  .wb-col-pull-md-3-5 {
    left: -60%;
  }
  .wb-col-pull-md-4-5 {
    left: -80%;
  }
  .wb-col-pull-md-1-6 {
    left: -16.6666666667%;
  }
  .wb-col-pull-md-5-6 {
    left: -83.3333333333%;
  }
}

@media screen and (min-width: 992px) {
  .wb-col-pull-lg-1-1 {
    left: -100%;
  }
  .wb-col-pull-lg-1-2 {
    left: -50%;
  }
  .wb-col-pull-lg-1-3 {
    left: -33.3333333333%;
  }
  .wb-col-pull-lg-2-3 {
    left: -66.6666666667%;
  }
  .wb-col-pull-lg-1-4 {
    left: -25%;
  }
  .wb-col-pull-lg-3-4 {
    left: -75%;
  }
  .wb-col-pull-lg-1-5 {
    left: -20%;
  }
  .wb-col-pull-lg-2-5 {
    left: -40%;
  }
  .wb-col-pull-lg-3-5 {
    left: -60%;
  }
  .wb-col-pull-lg-4-5 {
    left: -80%;
  }
  .wb-col-pull-lg-1-6 {
    left: -16.6666666667%;
  }
  .wb-col-pull-lg-5-6 {
    left: -83.3333333333%;
  }
}

/* --------------------------------- */
/* GRID: PUSH
/* --------------------------------- */
.wb-col-push-xs-1-1 {
  left: 100%;
}

.wb-col-push-xs-1-2 {
  left: 50%;
}

.wb-col-push-xs-1-3 {
  left: 33.3333333333%;
}

.wb-col-push-xs-2-3 {
  left: 66.6666666667%;
}

.wb-col-push-xs-1-4 {
  left: 25%;
}

.wb-col-push-xs-3-4 {
  left: 75%;
}

.wb-col-push-xs-1-5 {
  left: 20%;
}

.wb-col-push-xs-2-5 {
  left: 40%;
}

.wb-col-push-xs-3-5 {
  left: 60%;
}

.wb-col-push-xs-4-5 {
  left: 80%;
}

.wb-col-push-xs-1-6 {
  left: 16.6666666667%;
}

.wb-col-push-xs-5-6 {
  left: 83.3333333333%;
}

@media screen and (min-width: 480px) {
  .wb-col-push-sm-1-1 {
    left: 100%;
  }
  .wb-col-push-sm-1-2 {
    left: 50%;
  }
  .wb-col-push-sm-1-3 {
    left: 33.3333333333%;
  }
  .wb-col-push-sm-2-3 {
    left: 66.6666666667%;
  }
  .wb-col-push-sm-1-4 {
    left: 25%;
  }
  .wb-col-push-sm-3-4 {
    left: 75%;
  }
  .wb-col-push-sm-1-5 {
    left: 20%;
  }
  .wb-col-push-sm-2-5 {
    left: 40%;
  }
  .wb-col-push-sm-3-5 {
    left: 60%;
  }
  .wb-col-push-sm-4-5 {
    left: 80%;
  }
  .wb-col-push-sm-1-6 {
    left: 16.6666666667%;
  }
  .wb-col-push-sm-5-6 {
    left: 83.3333333333%;
  }
}

@media screen and (min-width: 768px) {
  .wb-col-push-md-1-1 {
    left: 100%;
  }
  .wb-col-push-md-1-2 {
    left: 50%;
  }
  .wb-col-push-md-1-3 {
    left: 33.3333333333%;
  }
  .wb-col-push-md-2-3 {
    left: 66.6666666667%;
  }
  .wb-col-push-md-1-4 {
    left: 25%;
  }
  .wb-col-push-md-3-4 {
    left: 75%;
  }
  .wb-col-push-md-1-5 {
    left: 20%;
  }
  .wb-col-push-md-2-5 {
    left: 40%;
  }
  .wb-col-push-md-3-5 {
    left: 60%;
  }
  .wb-col-push-md-4-5 {
    left: 80%;
  }
  .wb-col-push-md-1-6 {
    left: 16.6666666667%;
  }
  .wb-col-push-md-5-6 {
    left: 83.3333333333%;
  }
}

@media screen and (min-width: 992px) {
  .wb-col-push-lg-1-1 {
    left: 100%;
  }
  .wb-col-push-lg-1-2 {
    left: 50%;
  }
  .wb-col-push-lg-1-3 {
    left: 33.3333333333%;
  }
  .wb-col-push-lg-2-3 {
    left: 66.6666666667%;
  }
  .wb-col-push-lg-1-4 {
    left: 25%;
  }
  .wb-col-push-lg-3-4 {
    left: 75%;
  }
  .wb-col-push-lg-1-5 {
    left: 20%;
  }
  .wb-col-push-lg-2-5 {
    left: 40%;
  }
  .wb-col-push-lg-3-5 {
    left: 60%;
  }
  .wb-col-push-lg-4-5 {
    left: 80%;
  }
  .wb-col-push-lg-1-6 {
    left: 16.6666666667%;
  }
  .wb-col-push-lg-5-6 {
    left: 83.3333333333%;
  }
}

/* --------------------------------- */
/* GRID: OFFSET
/* --------------------------------- */
.wb-col-offset-xs-1-1 {
  margin-left: 100%;
}

.wb-col-offset-xs-1-2 {
  margin-left: 50%;
}

.wb-col-offset-xs-1-3 {
  margin-left: 33.3333333333%;
}

.wb-col-offset-xs-2-3 {
  margin-left: 66.6666666667%;
}

.wb-col-offset-xs-1-4 {
  margin-left: 25%;
}

.wb-col-offset-xs-3-4 {
  margin-left: 75%;
}

.wb-col-offset-xs-1-5 {
  margin-left: 20%;
}

.wb-col-offset-xs-2-5 {
  margin-left: 40%;
}

.wb-col-offset-xs-3-5 {
  margin-left: 60%;
}

.wb-col-offset-xs-4-5 {
  margin-left: 80%;
}

.wb-col-offset-xs-1-6 {
  margin-left: 16.6666666667%;
}

.wb-col-offset-xs-5-6 {
  margin-left: 83.3333333333%;
}

@media screen and (min-width: 480px) {
  .wb-col-offset-sm-1-1 {
    margin-left: 100%;
  }
  .wb-col-offset-sm-1-2 {
    margin-left: 50%;
  }
  .wb-col-offset-sm-1-3 {
    margin-left: 33.3333333333%;
  }
  .wb-col-offset-sm-2-3 {
    margin-left: 66.6666666667%;
  }
  .wb-col-offset-sm-1-4 {
    margin-left: 25%;
  }
  .wb-col-offset-sm-3-4 {
    margin-left: 75%;
  }
  .wb-col-offset-sm-1-5 {
    margin-left: 20%;
  }
  .wb-col-offset-sm-2-5 {
    margin-left: 40%;
  }
  .wb-col-offset-sm-3-5 {
    margin-left: 60%;
  }
  .wb-col-offset-sm-4-5 {
    margin-left: 80%;
  }
  .wb-col-offset-sm-1-6 {
    margin-left: 16.6666666667%;
  }
  .wb-col-offset-sm-5-6 {
    margin-left: 83.3333333333%;
  }
}

@media screen and (min-width: 768px) {
  .wb-col-offset-md-1-1 {
    margin-left: 100%;
  }
  .wb-col-offset-md-1-2 {
    margin-left: 50%;
  }
  .wb-col-offset-md-1-3 {
    margin-left: 33.3333333333%;
  }
  .wb-col-offset-md-2-3 {
    margin-left: 66.6666666667%;
  }
  .wb-col-offset-md-1-4 {
    margin-left: 25%;
  }
  .wb-col-offset-md-3-4 {
    margin-left: 75%;
  }
  .wb-col-offset-md-1-5 {
    margin-left: 20%;
  }
  .wb-col-offset-md-2-5 {
    margin-left: 40%;
  }
  .wb-col-offset-md-3-5 {
    margin-left: 60%;
  }
  .wb-col-offset-md-4-5 {
    margin-left: 80%;
  }
  .wb-col-offset-md-1-6 {
    margin-left: 16.6666666667%;
  }
  .wb-col-offset-md-5-6 {
    margin-left: 83.3333333333%;
  }
}

@media screen and (min-width: 992px) {
  .wb-col-offset-lg-1-1 {
    margin-left: 100%;
  }
  .wb-col-offset-lg-1-2 {
    margin-left: 50%;
  }
  .wb-col-offset-lg-1-3 {
    margin-left: 33.3333333333%;
  }
  .wb-col-offset-lg-2-3 {
    margin-left: 66.6666666667%;
  }
  .wb-col-offset-lg-1-4 {
    margin-left: 25%;
  }
  .wb-col-offset-lg-3-4 {
    margin-left: 75%;
  }
  .wb-col-offset-lg-1-5 {
    margin-left: 20%;
  }
  .wb-col-offset-lg-2-5 {
    margin-left: 40%;
  }
  .wb-col-offset-lg-3-5 {
    margin-left: 60%;
  }
  .wb-col-offset-lg-4-5 {
    margin-left: 80%;
  }
  .wb-col-offset-lg-1-6 {
    margin-left: 16.6666666667%;
  }
  .wb-col-offset-lg-5-6 {
    margin-left: 83.3333333333%;
  }
}

/* --------------------------------- */
/* GRID: ALIGN
/* --------------------------------- */
.wb-row-align-top-xs,
.wb-row-align-middle-xs,
.wb-row-align-bottom-xs {
  display: table;
  min-width: 100%;
}

.wb-row-align-top-xs > *,
.wb-row-align-middle-xs > *,
.wb-row-align-bottom-xs > * {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.wb-row-align-top-xs > * {
  vertical-align: top;
}

.wb-row-align-bottom-xs > * {
  vertical-align: bottom;
}

.wb-col-align-top-xs {
  vertical-align: top;
}

.wb-col-align-middle-xs {
  vertical-align: middle;
}

.wb-col-align-bottom-xs {
  vertical-align: bottom;
}

@media screen and (min-width: 480px) {
  .wb-row-align-top-sm,
  .wb-row-align-middle-sm,
  .wb-row-align-bottom-sm {
    display: table;
    min-width: 100%;
  }
  .wb-row-align-top-sm > *,
  .wb-row-align-middle-sm > *,
  .wb-row-align-bottom-sm > * {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  .wb-row-align-top-sm > * {
    vertical-align: top;
  }
  .wb-row-align-bottom-sm > * {
    vertical-align: bottom;
  }
  .wb-col-align-top-sm {
    vertical-align: top;
  }
  .wb-col-align-middle-sm {
    vertical-align: middle;
  }
  .wb-col-align-bottom-sm {
    vertical-align: bottom;
  }
}

@media screen and (min-width: 768px) {
  .wb-row-align-top-md,
  .wb-row-align-middle-md,
  .wb-row-align-bottom-md {
    display: table;
    min-width: 100%;
  }
  .wb-row-align-top-md > *,
  .wb-row-align-middle-md > *,
  .wb-row-align-bottom-md > * {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  .wb-row-align-top-md > * {
    vertical-align: top;
  }
  .wb-row-align-bottom-md > * {
    vertical-align: bottom;
  }
  .wb-col-align-top-md {
    vertical-align: top;
  }
  .wb-col-align-middle-md {
    vertical-align: middle;
  }
  .wb-col-align-bottom-md {
    vertical-align: bottom;
  }
}

@media screen and (min-width: 992px) {
  .wb-row-align-top-lg,
  .wb-row-align-middle-lg,
  .wb-row-align-bottom-lg {
    display: table;
    min-width: 100%;
  }
  .wb-row-align-top-lg > *,
  .wb-row-align-middle-lg > *,
  .wb-row-align-bottom-lg > * {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  .wb-row-align-top-lg > * {
    vertical-align: top;
  }
  .wb-row-align-bottom-lg > * {
    vertical-align: bottom;
  }
  .wb-col-align-top-lg {
    vertical-align: top;
  }
  .wb-col-align-middle-lg {
    vertical-align: middle;
  }
  .wb-col-align-bottom-lg {
    vertical-align: bottom;
  }
}

/* --------------------------------- */
/* GRID: GUTTER
/* --------------------------------- */
/* DEFAULT ROW GUTTER ---------------- */
.wb-row {
  margin: -0.25rem -0.25rem;
}

.wb-row > * {
  padding: 0.25rem 0.25rem;
}

@media screen and (min-width: 480px) {
  .wb-row {
    margin: -0.5rem -0.5rem;
  }
  .wb-row > * {
    padding: 0.5rem 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .wb-row {
    margin: -1rem -1rem;
  }
  .wb-row > * {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 992px) {
  .wb-row {
    margin: -1rem -1rem;
  }
  .wb-row > * {
    padding: 1rem 1rem;
  }
}

/* MODIFIER: ROW GUTTER SIZE ---------------- */
.wb-row-gutter-none-xs {
  margin: 0 0;
}

.wb-row-gutter-none-xs > * {
  padding: 0 0;
}

.wb-row-gutter-small-xs {
  margin: -0.5rem -0.5rem;
}

.wb-row-gutter-small-xs > * {
  padding: 0.5rem 0.5rem;
}

.wb-row-gutter-smaller-xs {
  margin: -0.25rem -0.25rem;
}

.wb-row-gutter-smaller-xs > * {
  padding: 0.25rem 0.25rem;
}

.wb-row-gutter-smallest-xs {
  margin: -0.12rem -0.12rem;
}

.wb-row-gutter-smallest-xs > * {
  padding: 0.12rem 0.12rem;
}

.wb-row-gutter-normal-xs {
  margin: -1rem -1rem;
}

.wb-row-gutter-normal-xs > * {
  padding: 1rem 1rem;
}

.wb-row-gutter-large-xs {
  margin: -1.5rem -1.5rem;
}

.wb-row-gutter-large-xs > * {
  padding: 1.5rem 1.5rem;
}

.wb-row-gutter-larger-xs {
  margin: -2rem -2rem;
}

.wb-row-gutter-larger-xs > * {
  padding: 2rem 2rem;
}

.wb-row-gutter-largest-xs {
  margin: -2.5rem -2.5rem;
}

.wb-row-gutter-largest-xs > * {
  padding: 2.5rem 2.5rem;
}

@media screen and (min-width: 480px) {
  .wb-row-gutter-none-sm {
    margin: 0 0;
  }
  .wb-row-gutter-none-sm > * {
    padding: 0 0;
  }
  .wb-row-gutter-small-sm {
    margin: -0.5rem -0.5rem;
  }
  .wb-row-gutter-small-sm > * {
    padding: 0.5rem 0.5rem;
  }
  .wb-row-gutter-smaller-sm {
    margin: -0.25rem -0.25rem;
  }
  .wb-row-gutter-smaller-sm > * {
    padding: 0.25rem 0.25rem;
  }
  .wb-row-gutter-smallest-sm {
    margin: -0.12rem -0.12rem;
  }
  .wb-row-gutter-smallest-sm > * {
    padding: 0.12rem 0.12rem;
  }
  .wb-row-gutter-normal-sm {
    margin: -1rem -1rem;
  }
  .wb-row-gutter-normal-sm > * {
    padding: 1rem 1rem;
  }
  .wb-row-gutter-large-sm {
    margin: -1.5rem -1.5rem;
  }
  .wb-row-gutter-large-sm > * {
    padding: 1.5rem 1.5rem;
  }
  .wb-row-gutter-larger-sm {
    margin: -2rem -2rem;
  }
  .wb-row-gutter-larger-sm > * {
    padding: 2rem 2rem;
  }
  .wb-row-gutter-largest-sm {
    margin: -2.5rem -2.5rem;
  }
  .wb-row-gutter-largest-sm > * {
    padding: 2.5rem 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .wb-row-gutter-none-md {
    margin: 0 0;
  }
  .wb-row-gutter-none-md > * {
    padding: 0 0;
  }
  .wb-row-gutter-small-md {
    margin: -0.5rem -0.5rem;
  }
  .wb-row-gutter-small-md > * {
    padding: 0.5rem 0.5rem;
  }
  .wb-row-gutter-smaller-md {
    margin: -0.25rem -0.25rem;
  }
  .wb-row-gutter-smaller-md > * {
    padding: 0.25rem 0.25rem;
  }
  .wb-row-gutter-smallest-md {
    margin: -0.12rem -0.12rem;
  }
  .wb-row-gutter-smallest-md > * {
    padding: 0.12rem 0.12rem;
  }
  .wb-row-gutter-normal-md {
    margin: -1rem -1rem;
  }
  .wb-row-gutter-normal-md > * {
    padding: 1rem 1rem;
  }
  .wb-row-gutter-large-md {
    margin: -1.5rem -1.5rem;
  }
  .wb-row-gutter-large-md > * {
    padding: 1.5rem 1.5rem;
  }
  .wb-row-gutter-larger-md {
    margin: -2rem -2rem;
  }
  .wb-row-gutter-larger-md > * {
    padding: 2rem 2rem;
  }
  .wb-row-gutter-largest-md {
    margin: -2.5rem -2.5rem;
  }
  .wb-row-gutter-largest-md > * {
    padding: 2.5rem 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .wb-row-gutter-none-lg {
    margin: 0 0;
  }
  .wb-row-gutter-none-lg > * {
    padding: 0 0;
  }
  .wb-row-gutter-small-lg {
    margin: -0.5rem -0.5rem;
  }
  .wb-row-gutter-small-lg > * {
    padding: 0.5rem 0.5rem;
  }
  .wb-row-gutter-smaller-lg {
    margin: -0.25rem -0.25rem;
  }
  .wb-row-gutter-smaller-lg > * {
    padding: 0.25rem 0.25rem;
  }
  .wb-row-gutter-smallest-lg {
    margin: -0.12rem -0.12rem;
  }
  .wb-row-gutter-smallest-lg > * {
    padding: 0.12rem 0.12rem;
  }
  .wb-row-gutter-normal-lg {
    margin: -1rem -1rem;
  }
  .wb-row-gutter-normal-lg > * {
    padding: 1rem 1rem;
  }
  .wb-row-gutter-large-lg {
    margin: -1.5rem -1.5rem;
  }
  .wb-row-gutter-large-lg > * {
    padding: 1.5rem 1.5rem;
  }
  .wb-row-gutter-larger-lg {
    margin: -2rem -2rem;
  }
  .wb-row-gutter-larger-lg > * {
    padding: 2rem 2rem;
  }
  .wb-row-gutter-largest-lg {
    margin: -2.5rem -2.5rem;
  }
  .wb-row-gutter-largest-lg > * {
    padding: 2.5rem 2.5rem;
  }
}

/* --------------------------------- */
/* GRID: DIVIDER
/* --------------------------------- */
.wb-row-divider, .wb-row-divider-dashed {
  overflow: hidden;
}

.wb-row-divider .wb-row, .wb-row-divider-dashed .wb-row {
  overflow: hidden;
}

.wb-row-divider .wb-row > *, .wb-row-divider-dashed .wb-row > * {
  position: relative;
}

.wb-row-divider .wb-row > *:before, .wb-row-divider-dashed .wb-row > *:before, .wb-row-divider .wb-row > *:after, .wb-row-divider-dashed .wb-row > *:after {
  content: '';
  display: block;
  position: absolute;
}

.wb-row-divider .wb-row > *:before, .wb-row-divider-dashed .wb-row > *:before {
  top: 0;
  bottom: 0;
  left: -1px;
  border-left: 1px solid #e6e6e6;
}

.wb-row-divider .wb-row > *:after, .wb-row-divider-dashed .wb-row > *:after {
  right: 0;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #e6e6e6;
}

/* MODIFIER: GRID BORDER DASHED ---------------- */
.wb-row-divider-dashed .wb-row > *:before {
  border-left-style: dashed;
  border-color: #d0d0d0;
}

.wb-row-divider-dashed .wb-row > *:after {
  border-bottom-style: dashed;
  border-color: #d0d0d0;
}

/* --------------------------------- */
/* GRID: PANEL
/* --------------------------------- */
.wb-grid-panel {
  padding: 20px;
  text-align: center;
  color: #000;
  border: 1px solid #e6e6e6;
  background: #f0f0f0;
  border-radius: 3px;
}

.wb-grid-panel .wb-grid-panel {
  background: #f9f9f9;
}
