@import 'init';

/* --------------------------------- */
/* GRID: ALIGN
/* --------------------------------- */

  // The breakpoint suffix must match the one used on the columns

  // Example:
    
  //  <div class='wb-row wb-row-align-sm-middle'>
  //    <div class='wb-col-sm-1-2'>...</div>
  //    <div class='wb-col-sm-1-2'>...</div>
  //  </div>

  @mixin wb-row-align-at-breakpoint($breakpoint-name) {
    $breakpoint: map-get($wb-breakpoints, $breakpoint-name);
    $breakpoint-suffix: map-get($breakpoint, 'suffix');
    
    .#{$wb-prefix}row-align#{$breakpoint-suffix}-top,
    .#{$wb-prefix}row-align#{$breakpoint-suffix}-middle,
    .#{$wb-prefix}row-align#{$breakpoint-suffix}-bottom {
      font-size: 0;
      
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      
      > * {
        display: inline-block;
        vertical-align: middle;
        float: none;
        font-size: 1rem;
      }
    }
    
    .#{$wb-prefix}row-align#{$breakpoint-suffix}-top {
      &:before { vertical-align: top; }
      > * { vertical-align: top; }
    }
    
    .#{$wb-prefix}row-align#{$breakpoint-suffix}-bottom {
      &:before { vertical-align: bottom; }
      > * { vertical-align: bottom; }
    }
    
    // column align
    .#{$wb-prefix}col-align#{$breakpoint-suffix}-top { vertical-align: top; }
    .#{$wb-prefix}col-align#{$breakpoint-suffix}-middle { vertical-align: middle; }
    .#{$wb-prefix}col-align#{$breakpoint-suffix}-bottom { vertical-align: bottom; }
  }
  
  // create align classes for each breakpoint
  $wb-processed-breakpoint-name: null;
  
  @each $wb-breakpoint-name, $wb-breakpoint in $wb-breakpoints {
    @if $wb-processed-breakpoint-name != null {
      @include wb-media('>#{$wb-processed-breakpoint-name}') {
        @include wb-row-align-at-breakpoint($wb-breakpoint-name);
      }
    }
    @else {
      @include wb-row-align-at-breakpoint($wb-breakpoint-name);
    }
    
    $wb-processed-breakpoint-name: $wb-breakpoint-name;
  }