/* --------------------------------- */
/* GRID: PANEL
/* --------------------------------- */

.#{$wb-prefix}grid-panel {
  padding: 30px;
  text-align: center;
  border: 1px solid #e6e6e6;
  background: #f0f0f0;
  border-radius: 3px;
}