* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #000;
}

h2 {
  font-size: 16px;
}

code {
  font-family: Consolas, monotype;
  font-style: italic;
  color: #0099cc;
}

section {
  margin: 20px 0;
}

.wb-grid-panel {
  padding: 20px;
  text-align: center;
  border: 1px solid #e0e0e0;
  background: #f6f6f6;
}